body{
    font-family:'Montserrat';
}

a:link,a:visited,a:hover,a:active{
    text-decoration: none;
    color: white;
}

.language_selector{
    text-align:right;
    vertical-align: -webkit-baseline-middle;
    margin: auto;
    width: 1260px;
    position: relative;
    min-height: 50px;
}

header{
    position: sticky;
    top: 0px;
    margin: auto;
    width: 1260px;
    z-index: 999;
}

.flag{
    height: 40px;
    position: absolute;
    z-index: 1;
    right: 25px;
    top: 5px;
}

#select_lang{
    width: 130px;
    height: 40px;
    margin: 5px;
    border-radius: 8px;
    font-size: 14px;
    font-family: 'Montserrat';
}

.logo{
    position: absolute;
    height: 150px;
    left: 50px;
    top: -50px;
    z-index: 1;
    box-shadow:3px 3px 7px rgba(0, 0, 0, 0.25);
}

.main_banner{
    position: relative;
    background: #1976D2;
    width: 100%;
    height: 80px;
    max-width: 1260px;
    border-radius: 15px;
    margin: auto;
    text-align: left;
}

.cab_button{ 
    height: 40px;
    background-color: #1F81E2;
    border-radius: 8px;
    border-style: none;
    color:white;
    font-size: 21px;
    box-shadow: 1px 1px 4px #414141;
}
.cab_button:hover{
    box-shadow: 0 0 5px 3px;
}

.cab_button:active{
    box-shadow: inset 0 0 5px black;
    text-shadow: 0 0 3px black;
    color:#cccccc
}

#log_in{
    width: 120px;
    position: absolute;
    right: 20px;
    top: 20px
}

#sign_in{
    width: 160px;
    position: absolute;
    right: 160px;
    top: 20px
}

.banner_links{
    position: absolute;
    font-size: 24px;
    color: white;
    top: 25px;
    text-decoration: none;
    text-shadow: #535353 1px 3px 4px;
}

.banner_links:hover{
    text-shadow: #ffffff 0px 0px 4px;
}

.banner_links:active{
    text-shadow: #535353 0px 0px 4px; ;
    color: #cccccc;
}

#bl1{
    left: 220px;
}

#bl2{
    left: 360px;
}

#bl3{
    left: 500px;
}

#bl4{
    left: 620px;
}

footer{
    margin: auto;
    width: 1260px;
    height: 340px;
    border-radius: 10px;
    background-color: #e9e9e9;
    position: relative;
}

.f_links{
    user-select: none;
    position: absolute;
    font-size: 26px;
    font-weight:200;
    top: 30px;
}
#f1{
    left:50px;
}
#f2{
    left: 240px;
}
#f3{
    left: 600px;
}
#f4{
    left: 900px;
}
#f5{
    left: 900px;
    top: 90px;
}
#f6{
    left: 900px;
    top: 150px;
}


.fc_links{
    cursor: pointer;
    user-select: none;
    position: absolute;
    font-size: 20px;
    font-weight:lighter;
    left:50px;
    color: rgb(92, 92, 92);
}

#fc1{
    top: 80px;
}
#fc2{
    top: 120px;
}
#fc3{
    top: 160px;
}
#fc4{
    left: 240px;
    top: 80px;
}
#fc5{
    left: 240px;
    top: 120px;
}
#fc6{
    left: 240px;
    top: 160px;
}
#fc7{
    left: 240px;
    top: 200px;
}
#fc8{
    left: 240px;
    top: 240px;
}
#fc9{
    left: 240px;
    top: 280px;
}
#fc10{
    left: 600px;
    top: 80px;
}
#fc11{
    left: 600px;
    top: 120px;
}

#fc12{
    left: 1050px;
    bottom: 10px;
    font-size: 14px;
}

.apk_download{
    position: absolute;
    width: 260px;
    height: 90px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    left: 900px;
    top: 210px;
    box-shadow: 0 0 8px gray;
}

.apk_download:active{
    box-shadow: inset 0 0 8px gray;
}

pre{
    user-select: none;
    position: absolute;
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 24px;
    transform: translate(-110px, 15px);
    color: black;
}

.droid{
    user-select: none;
    position: absolute;
    height: 80px;
    transform: translate(185px, 5px);
}

.content{
    display: block;
    width: 1260px;
    height: 600px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 3px;
}


.dailog{
    display: none;
    position: absolute;
    border: 1px solid #1F81E2;
    border-radius: 15px;
    background-color: white;
    padding: 15px; 
}

#mailDial {
    height: 120px;
    width: 250px;
    top: -50px;
    left: 100px;
}

#phoneDial {
    height: 120px;
    width: 250px;
    left: 100px;
    top:-10px;
}

#addresDial {
    height: 120px;
    width: 250px;
    left: 100px;
    top:30px;
    text-decoration: none;
}

.dialog_txt{
    margin-bottom: 5px;
}

.dialog_name{
    position: absolute;
    right: 40px;
    top: -10px;
    font-size: large;
}

.close_dialog{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 20px;
    background: transparent;
    border: none;
}